.nav,.point{
    font-family: 'Orbitron', sans-serif !important;
}
.bott{
    border-bottom: none !important;
}
.hwa:hover{
  color: brown;
}
/* #from{
  background-image: url(../public/Assets/image/one.jpeg.jpeg);  
} */